.Login {
    padding-left: 40%;
    padding-right: 40%;
}

.form-group.form-group-lg {
    padding-bottom: 10px;
    padding-top: 10px;
}

label.control-label {
    padding-right: 5px;
}

button.btn.btn-lg.btn-default.btn-block {
    margin-left: 35%;
    margin-right: 30%;
}