.game {
  color: white;
  padding: 4rem;
  background: #fff;
  border-bottom: solid 6px olivedrab;
  background-image: url("/images/green_network.jpg");
}

h2{
	text-align: center;
}

img{
	height: 200px;
  position: relative;
}

.game_wrapper, .unity_wrapper {
    padding: 50px;
    text-align: center;
    color: white!important;
}

canvas.tsparticles-canvas-el {
    position: absolute;
    right: 0;
}

