@media screen and (max-width: 960px) {
	.makeStyles-root-1 {
	    display: none!important;
	}	
	.makeStyles-root-9 {
		display: none;
	}
}

.MuiTabs-root {
    overflow: unset!important;
}

button#vertical-tab-0, button#vertical-tab-1, button#vertical-tab-2 {
    height: 100px;
}

.makeStyles-root-1 {
    height: 100%!important;
    background: none!important;
}

.game_wrapper button:hover{
	background: #4ECD2B url("/images/pixel.png");
	transition-delay: 0.8s;
	background-size: 180px;
	animation: animate 0.8s steps(8) forwards;
}

.unity_wrapper button:hover{
	background: #730bec url("/images/pixel2.png");
	transition-delay: 0.8s;
	background-size: 180px;
	animation: animate 0.8s steps(8) forwards;
}

@keyframes animate{
	0%
	{
		background-position-y: 0; 
	}
	100%
	{
		background-position-y:-480px; 
	}
}

.MuiAppBar-colorDefault {
    background-color: transparent;
}