@media screen and (max-width: 960px) {
	.makeStyles-root-1 {
	    display: none!important;
	}	
}

.MuiTabs-root {
    overflow: unset!important;
}

button#vertical-tab-0, button#vertical-tab-1, button#vertical-tab-2 {
    height: 100px;
}

.makeStyles-root-1 {
    height: 100%!important;
    background: none!important;
}

button:hover{
	background: #4ECD2B url("/images/pixel.png");
	transition-delay: 0.8s;
	background-size: 180px;
	animation: animate 0.8s steps(8) forwards;
}

@keyframes animate{
	0%
	{
		background-position-y: 0; 
	}
	100%
	{
		background-position-y:-480px; 
	}
}