.description-container {
  color: white;
  padding: 4rem;
  background: #fff;
  border-bottom: solid 6px olivedrab;
  background-image: url("/images/carte_texture_skin.png");
  text-align: center;
}

.description-container > p {
    padding: 20px;
}

.description-images > img {
    padding: 20px;
}