.game {
  color: white;
  padding: 4rem;
  background: #fff;
  border-bottom: solid 6px olivedrab;
  background-image: url("/images/pixels.jpg");
  
}

h2{
	text-align: center;
}

img{
	height: 200px;
  position: relative;
}

.game_wrapper, .unity_wrapper {
    padding: 50px;
    text-align: center;
    color: white!important;
    
}

.makeStyles-root-1 {
    box-shadow: 0 6px 20px rgba(56, 125, 255, 0.75);
    filter: drop-shadow(0 6px 20px rgba(56, 125, 255, 0.017));
    border-radius: 10px;
}

canvas.tsparticles-canvas-el {
    position: absolute;
    right: 0;
}

