@media screen and (max-width: 960px) {
	.makeStyles-root-1 {
	    display: none!important;
	}	
	.makeStyles-root-9 {
		display: none;
	}
}

.MuiTabs-root {
    overflow: unset!important;
}

button#vertical-tab-0, button#vertical-tab-1, button#vertical-tab-2 {
    height: 100px;
}

.makeStyles-root-1 {
    height: 100%!important;
    background: none!important;
    box-shadow: 0 6px 20px rgba(0, 0, 0, 0.75)!important;
}

.makeStyles-root-9 {
    filter: drop-shadow(0 6px 20px rgba(56, 125, 255, 0.017));
    border-radius: 10px;
    box-shadow: 0 6px 20px rgba(0, 0, 0, 0.75);
}

.game_wrapper button:hover{
	background: #4ECD2B url("/images/pixel.png");
	transition-delay: 0.8s;
	background-size: 180px;
	animation: animate 0.8s steps(8) forwards;
}

.unity_wrapper button:hover{
	background: #730bec url("/images/pixel3.png");
	transition-delay: 0.8s;
	background-size: 180px;
	animation: animate 0.8s steps(8) forwards;
}

@keyframes animate{
	0%
	{
		background-position-y: 0; 
	}
	100%
	{
		background-position-y:-480px; 
	}
}

.MuiAppBar-colorDefault {
    color: white!important;
    background-color: transparent!important;
}

.MuiButtonBase-root{
	filter: drop-shadow(0 6px 20px rgba(56, 125, 255, 0.017));
    border-radius: 10px;
    box-shadow: 0 6px 20px rgba(0, 0, 0, 0.75);
}